@inherits Microsoft.Framework.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.Framework.CodeGeneration.EntityFramework
@@model @Model.ViewDataTypeName

@{
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
<text>
@@{
    ViewBag.Title = "@Model.ViewName";
</text>
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}

<h2>@Model.ViewName</h2>

    }
    else
    {

<text>
@@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.ViewName</title>
</head>
<body>
</text>
        //    PushIndent("    ");
    }
}
<div>
    <h4>@Model.ViewDataTypeShortName</h4>
    <hr />
    <dl class="dl-horizontal">
@{
    foreach (var property in Model.ModelMetadata.Properties)
    {
        if (property.Scaffold && !property.IsPrimaryKey && !property.IsForeignKey)
        {
            // We do not want to show any association properties for which there is
            // no associated foreign key.
            if (property.IsAssociation) //Todo: GetRelatedModelMetadata(property) == null
            {
                continue;
            }
        <dt>
            @@Html.DisplayNameFor(model => model.@GetValueExpression(property))
        </dt>

        <dd>
            @@Html.DisplayFor(model => model.@GetValueExpression(property))
        </dd>

        }
    }
}
    </dl>
</div>
<p>
@{
    string pkName = GetPrimaryKeyName();

    if (pkName != null)
    {
<text>
        @@Html.ActionLink("Edit", "Edit", new { id = Model.@pkName }) |
        @@Html.ActionLink("Back to List", "Index")
</text>
    }
    else
    {
<text>
        @@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @@Html.ActionLink("Back to List", "Index")
</text>
    }
}
</p>
@{
    if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
    {
        //ClearIndent();
@:</body>
@:</html>
    }
}
@functions
{
    string GetPrimaryKeyName()
    {
        return (Model.ModelMetadata.PrimaryKeys != null && Model.ModelMetadata.PrimaryKeys.Length == 1)
        ? Model.ModelMetadata.PrimaryKeys[0].PropertyName
        : null;
    }

    string GetValueExpression(PropertyMetadata property)
    {
        //Todo: Get the association for the property and use that.
        return property.PropertyName;
    }
}