@inherits Microsoft.Framework.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.Framework.CodeGeneration.EntityFramework
@@model @Model.ViewDataTypeName
@{
    if (Model.IsPartialView)
    {
@:
    }
    else if (Model.IsLayoutPageSelected)
    {
<text>
@@{
    ViewBag.Title = "@Model.ViewName";</text>
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
@:
<h2>@Model.ViewName</h2>

    }
    else
    {

<text>
@@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.ViewName</title>
</head>
<body>
</text>
        //    PushIndent("    ");
    }
    if (Model.ReferenceScriptLibraries && !Model.IsLayoutPageSelected)
    {
@:@@section Scripts {
    @:<script src="@@Url.Content("~/Scripts/jquery-@(Model.JQueryVersion).min.js")"></script>
    @:<script src="@@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    @:<script src="@@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
@:}
    }
}
@@using (Html.BeginForm())
{
    @@Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.ViewDataTypeShortName</h4>
        <hr />
        @@Html.ValidationSummary(true, "", new { @@class = "text-danger" })
@{
    foreach (PropertyMetadata property in Model.ModelMetadata.Properties)
    {
        if (property.Scaffold && !property.IsAssociation)
        {
            if (property.IsPrimaryKey)
            {
        @:@@Html.HiddenFor(model => model.@property.PropertyName)

            }
            else if (!property.IsReadOnly)
            {
        @:<div class="form-group">
                if (property.IsForeignKey)
                {
            @:@@Html.LabelFor(model => model.@property.PropertyName, "@GetAssociationName(property)", htmlAttributes: new { @@class = "control-label col-md-2" })
                }
                else
                {
            @:@@Html.LabelFor(model => model.@property.PropertyName, htmlAttributes: new { @@class = "control-label col-md-2" })
                }
            @:<div class="col-md-10">
                bool isCheckbox = property.TypeName.Equals("System.Boolean");
                if (property.IsForeignKey)
                {
                @:@@Html.DropDownList("@property.PropertyName", null, htmlAttributes: new { @@class = "form-control" })
                }
                else
                {
                    if (isCheckbox)
                    {
                @:<div class="checkbox">
                    //PushIndent("    ");
                @:@@Html.EditorFor(model => model.@property.PropertyName)
                    }
                    else if (property.IsEnum && !property.IsEnumFlags)
                    {
                @:@@Html.EnumDropDownListFor(model => model.@property.PropertyName, htmlAttributes: new { @@class = "form-control" })
                    }
                    else
                    {
                @:@@Html.EditorFor(model => model.@property.PropertyName, new { htmlAttributes = new { @@class = "form-control" } })
                    }
                }
                @:@@Html.ValidationMessageFor(model => model.@property.PropertyName, "", new { @@class = "text-danger" })
                if (isCheckbox)
                {
                    //PopIndent();
                @:</div>
                }
            @:</div>
        @:</div>
            }
        }
    }
}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @@Html.ActionLink("Back to List", "Index")
</div>
@{
    if (Model.IsLayoutPageSelected && Model.ReferenceScriptLibraries)
    {
@:@@section Scripts {
    @:<script src="@@Url.Content("~/Scripts/jquery-@(Model.JQueryVersion).min.js")"></script>
    @:<script src="@@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    @:<script src="@@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
@:}
    }
    // The following code closes the tag used in the case of a view using a layout page and the body and html tags in the case of a regular view page
    if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
    {
        //ClearIndent();
@:</body>
@:</html>
    }
}
@functions
{
    string GetAssociationName(PropertyMetadata property)
    {
        //Todo: Implement properly.
        return property.PropertyName;
    }
}
